$primary: #75F4F4;
$textColor: gainsboro;
$textDarkColor: #11151C;

$bgcolor1: #7DDF64;
$bgcolor2: #F2CD60;
$bgcolor3: #53D8FB;

$altColor1: #9b59b6;
$altColor2: #3498db;
$altColor3: #1abc9c;

$blackoverlay: rgba(0, 0, 0, 0.2);


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: inherit;
}
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:link {
        color: white;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

kbd {
    margin: 0 0.1em;
    padding: 0.3em 0.9em;
    font-family: sans-serif;
    color:#FFF;
    text-shadow: 0 1px 0 #FFF;
    background-color: lightblue;
    line-height: 1.4;
    font-size: 0.8em;
    // border: 1px solid #adb3b9;
    border-radius: 0.2em;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: lighter;
    letter-spacing: 0.05em;
}



html, body {
    font-family: "Open sans", Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    color: $textColor;
    background: white;
}

.header {
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 7em 4em !important;
    text-align: center;
    color: white;

    .project-name {
        font-size: 3.5em !important;
        margin-bottom: 3rem !important;
        line-height: 1 !important;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  
        &-left {
            color: $primary;
        }
    }

    .project-tagline {
        margin-bottom: 0;
        font-size: 1.1rem;
        font-weight: lighter;
        display: inline-block;
        margin: 0.5em 0;
        color: gainsboro;

        i {
            color: $primary;
            font-size: 1.5em;
            vertical-align: middle;
        }
    }
  
    .btn-wrapper {
        margin: 3.5rem 0;
  
        .btn {
            display: inline-block;
            color: white;
            background-color: rgba(255,255,255,0.08);
            border-color: rgba(255,255,255,0.2);
            border-style: solid;
            border-width: 1px;
            border-radius: 0.3rem;
            transition: color 0.2s, background-color 0.2s, border-color 0.2s;
            padding: 0.75rem 1rem;
  
            img {
                transform: translateY(5px);
                margin-right: 5px;
                height: 20px;
                width: 20px;
            }

            &-icon, &-text{
                vertical-align: middle;
            }

            &-icon {
                font-size: 1.5em;
                margin-right: 0.5rem;
                color: rgba(255, 255, 255, 0.65);
            }

            & + .btn {
                margin-left: 2rem;
            }
        }
        .btn:hover {
            color: rgba(255,255,255,0.8);
            text-decoration: none;
            background-color: rgba(255,255,255,0.2);
            border-color: rgba(255,255,255,0.3);
        }
        // .btn + .btn {
        //     margin-left: 1rem;
        // }
    }

    video {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        width: 750px;
    }
}

.post {
    // min-height: 40rem;

    &-content, &-preview {
        flex: 1;
    }

    &-content {

        &.what {
            background: $bgcolor2;
            // background: $primary;
        }
        &.install {
            background: $bgcolor1;

            ol {
                list-style-position: inside;

                li small {
                    padding-left: 0.5rem;
                    color: green;
                }
            }
        }

        &-inner {
            position: relative;
            padding: 10rem 7rem;
            color: darkslategray;
            line-height: 2.5rem;

            h3 {
                font-size: 2rem;
                color: white;
                margin-bottom: 2rem;
                padding-bottom: 1rem;
                border-bottom: 0.3rem solid white;
            }

            span.youtube {
                color: white;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
                background: #cc181e;
            }
        }

        // position: relative;
        // &::before {
        //     content: "";
        //     // background: rgba(0, 0, 0, 0.7);
        //     background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent);
        //     position: absolute;
        //     top: 0px;
        //     left: 0px;
        //     right: 0px;
        //     bottom: 0px;
        //     // filter: blur(30px);
        // }
    }

    &-preview {
        overflow: hidden;
        background: white;
        // justify-content: left;

        // video {
        //     width: calc(100% + 6px);
        // }

        &.what {
            background: url("https://media.giphy.com/media/kaq6GnxDlJaBq/giphy.gif");
            background-position: center center;
            background-size: cover;
        }
        &.install {
            background: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif");
            background-position: center center;
            background-size: cover;
        }
    }
}

.video {
    padding: 4rem;
    background: $bgcolor3;
    border: 1rem solid white;

    &.alt {
        background: $bgcolor2;
    }

    &-caption, .keyboard-shortcut {
        font-size: 2.5rem;
        // text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
    }
    &-caption {
        margin-bottom: 3rem;
    }
    .keyboard-shortcut {
        margin-top: 4rem;
        color: white;
    }

    &-wrapper {
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        text-align: left;
        width: 600px;

        video {
            width: calc(100% + 6px);
            float: left;
        }
    }

    & + .video {
        border-top: 0;
    }
}