{%
    set site = {
        themeColor: "#F2CD60",
        og: {
            title: "PlayOnTop",
            type: "website",
            description: "plays all your youtube or local videos always on top so that you can work while you watch them",
            image: "https://johev09.github.io/playontop/imgs/og-image.jpeg",
            video: "https://johev09.github.io/playontop/vids/landing-clip.mp4"
        },
        title: "PlayOnTop | plays all your videos always on top",
        project: {
            name: {
                left: "Play",
                right: "OnTop"
            },
            desc: "<i class='fa fa-play-circle'></i> all your videos always on top"
        },
        download: {
            windows: "https://github.com/johev09/desktube/releases/download/v1.0.0/desktube-setup-1.0.0.exe",
            mac: "",
            chromeExtension: "https://chrome.google.com/webstore/detail/desktube-chrome-extension/biejfabbjpibepifkhloolobibjjddia"
        }
    }
%}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="content">
    	{% block content %}
    	{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
        <!-- <p></p> -->
        <p>Made with <i class="fa fa-coffee"></i> by Jhohev <a target="_blank" href="https://www.facebook.com/johev09"><i class="fa fa-facebook-square"></i></a></p>
        <p>{{ site.project.name.left + site.project.name.right }} &copy; 2017</p>
        {% endblock %}
    </div>

    <script src="js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111487821-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111487821-1');
    </script>

</body>
</html>