{% extends "base.html" %}

{% block head %}
    <title>{{ site.title }}</title>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="PlayOnTop,Video,Desktop,Windows,Mac,Chrome,Chrome Extension,Youtube,Watch,Always on top,Application,App">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ site.themeColor }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ site.themeColor }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ site.themeColor }}">

    <!-- og tags -->
    <meta property="og:title" content="{{ site.og.title }}" />
    <meta property="og:type" content="{{ site.og.type }}" />
    <meta property="og:image" content="{{ site.og.image }}" />
    <meta property="og:description" content="{{ site.og.description }}" />
    <meta property="og:video" content="{{ site.og.video }}" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- vendor css & fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- page css -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/mobile.css" />

    {{ env.helpers.livereload() | safe }}
{% endblock %}