{% extends "head.html" %}

{% block content %}
<section class="header">
  <div class="header-inner">
      <h1 class="project-name">
        <span class="project-name-left">{{ site.project.name.left }}</span><span>{{ site.project.name.right }}</span>
      </h1>
      <h2 class="project-tagline">{{ site.project.desc }}</h2>
      <div class="btn-wrapper">
            <a href="{{ site.download.chromeExtension }}" class="btn" title="Download Chrome Extension">
                <span class="btn-icon"><i class="fa fa-chrome"></i></span>
                <span class="btn-text">Download Chrome Extension</a>
            </a>
            <a href="{{ site.download.windows }}" class="btn" title="Download for Windows">
                <span class="btn-icon"><i class="fa fa-windows"></i></span>
                <span class="btn-text">Download Windows App</a>
            </a>
      </div>
      <video autoplay loop muted>
        <source src="vids/landing-clip.mp4" type="video/mp4"/>
          Your browser does not support the video tag.
      </video>
  </div>
</section>

{% macro postContentTop(class, title) %}
<div class="post-content flex-all-center {{ class }}">
    <div class="post-content-inner">
        <h3>{{ title }}</h3>
{% endmacro %}
{% macro postContentBottom() %}
    </div>
</div>
{% endmacro %}

{% macro postPreview(class, vidurl) %}
<div class="post-preview flex-all-center {{ class }}">
    <!-- <video autoplay loop muted>
        <source src="{{ vidurl }}" type="video/mp4"/>
          Your browser does not support the video tag.
    </video> -->
</div>
{% endmacro %}

{% macro video(title, url, class='', shortcut='') %}
<div class="video flex-col flex-all-center {{ class }}">
    <h3 class="video-caption">{{ title }}</h3>
    <div class="video-wrapper">
        <video autoplay loop muted>
            <source src="{{ url }}" type="video/mp4"/>
                Your browser does not support the video tag.
        </video>
    </div>
    <h3 class="keyboard-shortcut">{{ shortcut }}</h3>
</div>
{% endmacro %}


<div class="post flex-row">
    {{ postPreview('what', 'vids/clip1.mp4') }}
    {{ postContentTop('what', "What's this?") }}
    <p>
        It's a desktop app, which lets you watch your <span class="youtube"><i class="fa fa-youtube"></i></span> or local videos and keep it always on top of all other windows. So now instead of missing any scene or stopping your work to watch a video, you can carry on with your work while watching your videos.
    </p>
    {{ postContentBottom()}}
</div>
<div class="post flex-row">
    {{ postContentTop('install', 'How to install?') }}
        <ol>
            <li>
                Install <a href="{{ site.download.windows }}">Windows Desktop App</a><br>
                <small>[ Allow permission to firewall (when asked) to allow extension to work ]</small>
            </li>
            <li>Install <a href="{{ site.download.chromeExtension }}">Chrome Extension</a></li>
            <li>That's All Folks! <i class="fa fa-hand-peace-o"></i></li>
        </ol>
    {{ postContentBottom()}}
    {{ postPreview('install', 'vids/clip2.mp4') }}
</div>
{{ video('VideoMode', 'vids/clip2-videomode.mp4' ,'', '<kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>V</kbd>') }}
{{ video('Play/Pause', 'vids/clip1-play-pause.mp4', 'alt', '<kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Space</kbd>') }}
{{ video('Toggle Fullscreen', 'vids/clip3-fullscreen.mp4', '', '<kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>F</kbd>') }}
<!-- {{ video('Toggle Maximize: Ctrl + Alt + M', 'vids/clip1.mp4') }} -->

{% endblock %}